{% extends "shop/layout.html" %}

{% block content %}
    <div class="container">
        <div class="col-sm-12">
            <h1>{{ shop }}</h1>

        {{ shop.desc }} |
        {{ shop.address }}

        {% if shop.photo %}
        <img src="{{ shop.photo.url }}" />"
        {% endif %}

        <hr/>
        <a href="/shop/" class="btn btn-primary">목록으로</a>
        <a href="/shop/{{ shop.id }}/edit/" class="btn btn-success">수정</a>
        <a href="/shop/{{ shop.id }}/del/" class="btn btn-danger">삭제</a>
    </div>
</div>

{% endblock %}