{% extends "shop/layout.html" %}

{% block content %}
    <div class="container">
        <div class="card-group">
            {% for shop in shop_list %}
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShjgHMQV95fnUYO5DcBoAx-X-0J4YHOTgJbzYcHqMKl5Oh09uR" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url "shop:shop_detail" shop.id %}">
                                   #{{ shop.id }}. {{ shop.name }}
                                </a>
                            </h5>
                            {% if shop.address %}
                                <p class="card-text">
                                    {{ shop.address }}
                                </p>
                            {% endif %}
                            {% if shop.desc %}
                                <p class="card-text">
                                    {{ shop.desc }}
                                </p>
                            {% endif %}
                            <p class="card-text">
                                <small class="text-muted">
                                    {{ shop.created_at }}
                                </small>
                            </p>
                        </div>
                    </div>
                </div>
            {%endfor %}
        </div>
        
        <a href="{% url "shop:shop_new" %}" class="btn btn-primary">새 가게 등록</a>
    </div>    
    {% endblock %}